/***** BASE STYLES *****/
body {
	font-family: 'Roboto Slab';
}
header {
  height: 150px;
  overflow: auto;
  background-color: #095156; 
}
#Hero {
	height: 730px;
	overflow: auto;
}
#Services {
	height: 1000px;
	overflow: auto;
	background-color: #ffffff;
}
#About {
	height: 650px;
	overflow: auto;
	background-color: #81c0b3;
}
#Contact {
	height: 400px;
	overflow: auto;
	background-color: #095156;	
}

/***** GRID *****/
.full-width {
    width: 1200px;
    margin: 0 auto;
}
.half-width {
	width: 600px;
    float: left;
}
.third-width {
	width: 400px;
	float: left;
}
/***** HEADER *****/
header img {
	float: left;
	padding-top: 25px;
	padding-left: 50px;
}
header nav {
	font-family: 'Roboto';
	float: right;
}
header nav ul li {
    display: inline-block;
	padding-right: 50px;
	padding-top: 50px;
}
header nav a {
	color:#BBDF09;
}
/***** Hero*****/
#Hero {
	background: url("../img/hero-image-4.jpg");
  	background-repeat: no-repeat;
  	background-size: cover;
	margin: 0px;
	overflow: hidden;
}
#Hero h2 {
	margin: 0px 0px 0px 0px; 
	color: #BBDF09;
	font-size: 70px;
	text-align: left;
	padding-top: 445px;
	padding-left: 673px;
}
#Hero p {
	margin: 20px 0px 0px 0px; 
	font-family: 'Roboto';
	color: #ffffff;
	padding-left: 670px;
	font-size: 58px;
}

/***** Services *****/
#Services .half-width {
	height: 350px;
	padding-bottom: 30px;
}
#Services h4 {
	color: #095156;
	font-size: 36px;
	text-align: center; 
	padding-top: 20px;
}
#Services h5 {
	color: #095156;
	font-size: 24px;
	margin-top: 0px;
}
#Services p {
	color: #095156;
	font-family: 'Roboto';
	font-size: 22px;
}
ul#content li {
	list-style: disc;
	color: #095156;
	font-family: 'Roboto';
	font-size: 20px;
}
#Services img {
	padding-top: 6px; 
}
/***** About *****/
#About .half-width {
	height: 250px;
}
#About h4 {
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
}
#About p {
	font-family: 'Roboto';
	color: #FFFFFF;
	font-size: 26px;
}
#About img {
	padding-top: 27px;
}
/***** Contact *****/
ul#social li {
  display:inline;
  list-style-type: none;
  padding-right: 10px;
  padding-left: 33px;	
}
#Contact h4 {
  color: #FFFFFF;
  font-size: 36px;
  text-align: center;
}
#Contact h5 {
  color: #FFFFFF;
  font-size: 24px;
  text-align: center;
  font-family: 'Roboto';	
}
#Contact p {
  font-family: 'Roboto';
  color: #FFFFFF;
  font-size: 22px;
  text-align: center;	
}
#Contact img {
	width: 50px;
}
/***** Footer *****/
footer {
  overflow: hidden;
  background-color: #095156;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  font-family: 'Roboto';	
  }